# Serper API Key for using Serper search
SERPER_API_KEY=""

# Openrouter API KEY
OPENROUTER_API_KEY=""

# Choose your LLM model
LLM_MODEL="meta-llama/llama-3-8b-instruct"

# API Base URL (OpenRouter, Ollama, or Colab ngrok URL)
LLM_API_BASE="https://openrouter.ai/api/v1"

OPENAI_API_KEY=""
CLAUDE_API_KEY=""
